@import 'tailwindcss';

@theme {
	--font-almarai-light: 'Almarai-Light', sans-serif;
	--font-almarai-regular: 'Almarai-Regular', sans-serif;
	--font-almarai-bold: 'Almarai-Bold', sans-serif;
	--font-almarai-extrabold: 'Almarai-ExtraBold', sans-serif;

	--color-dark-blue: #010128;
	--color-blue-gray: #575e7d;
	--color-light-blue: #d9e0ff;
	--color-blue-peps: #0232ff;
	--color-dark-blue-gray: #828ab6;
	--color-dark-light-blue: #b3c2ff;
	--color-dark-light-blue-faded: #5a6294;
	--color-main-blue: #0232ff;

	--color-primary-50: #92b5f8;
	--color-primary-100: #76a2f6;
	--color-primary-200: #5b90f4;
	--color-primary-300: #407df3;
	--color-primary-400: #246bf1;
	--color-primary-500: #0958ef;
	--color-primary-600: #084ed4;
	--color-primary-700: #0744ba;
	--color-primary-800: #063b9f;
	--color-primary-900: #010128;

	--color-complete: #ff2a2a;
	--color-registered: #7dff9b;
	--color-waiting: #f3b16d;
}

.almarai-light {
	font-family: 'Almarai', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.almarai-regular {
	font-family: 'Almarai', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.almarai-bold {
	font-family: 'Almarai', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.almarai-extrabold {
	font-family: 'Almarai', sans-serif;
	font-weight: 800;
	font-style: normal;
}
